blockquote.spoiler {
	background: lighten($warning, 30%);
	border-left-color: $warning;
	cursor: pointer;
	outline: none;

	p {
		color: darken($warning, 30%);
		opacity: 0;
	}

	&:focus p {
		opacity: 1;
	}

	&:before {
		color: darken($warning, 30%);
		content: attr(data-title);
		font-size: 14px;
	}
}